
    <% layout("/layouts/boilerPlate") %> 
  <body>
     <h2>Listing Details</h2>

     <div class="card col-6 offset-2" >
  <img src="<%= show.images %>" class="card-img-top" alt="show_image" style="height: 15rem;">
  <div class="card-body">
    <p class="card-text">
      
              <h3><%= show.title %> </h3>

   
        
          <%= show.description %> <br>
          Price:&#8377 <%= show.price.toLocaleString("en-IN")%> /night <br>
          Location: <%= show.location %> <br>
          Country: <%= show.country %> <br>
          <div class="row">
          <div class="col-2">
          <a href="/listings/<%= show._id %>/edit" class="btn btn-danger px-3 p-1">Edit</a><br>      </div> 
            <div class="col-3 ">
         <form action="/listings/<%= show._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-primary p-1 px-3">Delete</button>
 </form>
 </div>
</div>
    </p>
  </div>
</div>




     




    <br>


  

</body>